include ../../../../../components/buttons/like-button/like-button.pug

mixin comment(classOfImg, username, time, text)
  div.comment
    div.comment__info
      div(class=classOfImg)
      div.comment__wrapper
        p.comment__username= username
        p.comment__time= time
    div.comment__wrap
      +like-button("like-buttons__border js-like-buttons__border", "like-buttons__heart js-like-buttons__heart", "like-buttons__counter js-like-buttons__counter")
      p.comment__text= text

mixin secondComment(classOfImg, username, time, text)
  div.comment
    div.comment__info
      div(class=classOfImg)
      div.comment__wrapper
        p.comment__username= username
        p.comment__time= time
    div.comment__wrap
      +like-button("like-buttons__border_second-like-button js-like-buttons__border_second-like-button", "like-buttons__heart_second js-like-buttons__heart_second", "like-buttons__counter_second-like-button js-like-buttons__counter_second-like-button")
      p.comment__text= text