extends ../../../layout/page.pug
block content
  include ../../../components/inputs/regular-input/regular-input.pug
  include ../../../components/plugins/item-quantity-dropdown/item-quantity-dropdown.pug
  include ../../../components/buttons/checkbox-button/checkbox-button.pug
  include ../../../components/buttons/radio-button/radio-button.pug
  include ../../../components/buttons/toggle-button/toggle-button.pug
  include ../../../components/buttons/like-button/like-button.pug
  include ../../../components/buttons/rate-button/rate-button.pug
  include ../../../components/plugins/range-slider/range-slider.pug
  include ../../../components/buttons/solid-button/solid-button.pug
  include ../../../components/buttons/transparent-button/transparent-button.pug
  include ../../../components/buttons/link-button/link-button.pug
  include ../../../components/plugins/pagination/pagination.pug
  include ../../../components/buttons/expandable-checkbox-list/expandable-checkbox-list.pug
  include ../../../components/bullet-list/bullet-list.pug
  include ../../../components/comment/comment.pug
  include ../../../components/feedback/feedback.pug

  // переменные
  - var textField = "TEXT FIELD"
  - var dropdown = "DROPDOWN"
  // поля ввода
  div.elements
    form(action="#")
      div.elements__description
        h3.elements__info #{textField}
        p.elements__state DEFAULT
      input(type="email" name="e-mail" placeholder="Email").elements__field
      div.elements__description
        h3.elements__info #{textField}
        p.elements__state HOVER/FOCUS
      input(type="text" name="text" placeholder="This is pretty awesome").elements__field
      h3.elements__info #{dropdown}
      +item-quantity-dropdown("iqdropdown_first", "Взрослые", "Дети", "Младенцы")(class="iqdropdown js-iqdropdown_first")
        div(class="iqdropdown-menu-btn-wrap")
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear" id="iqdropdown-btn-clear") Очистить
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm" id="iqdropdown-btn-confirm") Применить
      h3.elements__info MASKED #{textField}
      input(type="text" name="date" placeholder="ДД.ММ.ГГГГ" class="elements__field js-datepicker_first" data-position="right top" id="datepicker_first")
      div.date-dropdown
        div.date-dropdown_before
          h3.elements__info DATE #{dropdown}
          div.elements__field-wrap-datepicker
            input(type="text" name="date" placeholder="ДД.ММ.ГГГГ" id="datepicker_second").elements__field-date.js-datepicker_second
        div.date-dropdown_after
          h3.elements__info DATE #{dropdown}
          div.elements__field-wrap-datepicker
            input(type="text" name="date" placeholder="19.08.2019" id="datepicker_third").elements__field-date.js-datepicker_third
      h3.elements__info FILTER DATE #{dropdown}
      div.elements__field-wrap-datepicker_short
        input(type="text" name="date" placeholder="19 авг - 23 авг" id="datepicker_fourth").elements__field-filter.js-datepicker_fourth
      h3.elements__info SUBSCRIPTION #{textField}
      div.elements__field-wrap
        +input("email", "e-mail", "Email")(class="elements__field-subscription")
    // кнопки
    div.buttons
      form.buttons-checkbox
        h3.buttons-checkbox__name CHECKBOX BUTTONS
        +checkbox-button("Можно курить", "checkbox")(class="checkbox-button__title")
        +checkbox-button("Можно с питомцами", "checkbox-second")(class="checkbox-button__title")
        +checkbox-button("Можно пригласить гостей (до 10 человек)", "checkbox-third")(class="checkbox-button__title")
      form.buttons-radio
        h3.buttons-radio__name RADIO BUTTONS
        div.buttons-radio__wrapper
          +radio-button("Мужчина", "human", "мужчина")
          +radio-button("Женщина", "human", "женщина")
      form.toggle-button
        h3.toggle-button__name TOGGLE
        div.toggle-button__wrapper
          +toggle-button("toggle", "news")
          +toggle-button("toggle_second", "news-second")
      form.buttons-like
        h3.buttons-like__name LIKE BUTTON
        div.buttons-like__wrapper
          +like-button("like-button js-like-button", "like-button__heart js-like-button__heart", "like-button__counter js-like-button__counter")
          +like-button("like-button_second-like-button js-like-button_second-like-button", "like-button__heart_second js-like-button__heart_second", "like-button__counter_second-like-button js-like-button__counter_second-like-button")
      form.buttons-rate
        h3.buttons-rate__name RATE BUTTON
        div.buttons-rate__wrapper
          +rate-button()
          +rate-button()
    div.other-buttons
      div.range-button
        div.range-button__info
          +range-slider("range slider")
      // кнопки + пагинация
      form.buttons
        h3.buttons__name BUTTONS
        div.ellipse-buttons
          div.ellipse-buttons__wrap
            +ellipse-button-solid()
            +ellipse-button-solid()
          div.ellipse-buttons__wrap
            +ellipse-button-transparent()
            +ellipse-button-transparent()
        +link-button()
        include ../../../components/buttons/solid-big-button/solid-big-button.pug
      div.pagination
        h3.pagination__name PAGINATION
        +pagination()
  // фильтры по поиску номеров
  div.elements__filter    
    div.filter
      div.filter__description
        h3.filter__info #{dropdown}
        p.filter__state DEFAULT
      form.filter__form
        +item-quantity-dropdown("iqdropdown_sixth", "Спальни", "Кровати", "Ванные комнаты")(class="iqdropdown js-iqdropdown_sixth")
      div.filter__description
        h3.filter__info #{dropdown}
        p.filter__state EXPANDED
      form.filter__form
        +item-quantity-dropdown("iqdropdown_seventh", "Спальни", "Кровати", "Ванные комнаты")(class="iqdropdown js-iqdropdown_seventh")
      form.filter__checkbox_expanded
        +expandable-checkbox-list("expandable-checkbox-list js-expandable-checkbox-list", "expandable checkbox list", "expandable-checkbox-list__checkbox-arrow_first js-expandable-checkbox-list__checkbox-arrow_first")(class="expandable-checkbox-list__checkbox expandable-checkbox-list__checkbox_first js-expandable-checkbox-list__checkbox_first")
        +expandable-checkbox-list("expandable-checkbox-list_second js-expandable-checkbox-list_second", "expandable checkbox list", "expandable-checkbox-list__checkbox-arrow_second js-expandable-checkbox-list__checkbox-arrow_second")(class="expandable-checkbox-list__checkbox expandable-checkbox-list__checkbox_second js-expandable-checkbox-list__checkbox_second")
    // dropdown с гостями
    form.guests
      h3.guests__info #{dropdown}
      +item-quantity-dropdown("iqdropdown_second", "Взрослые", "Дети", "Младенцы")(class="iqdropdown js-iqdropdown_second")
        div(class="iqdropdown-menu-btn-wrap")
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear") Очистить
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm") Применить
      h3.guests__title Rich Checkbox Buttons
      div.guests__checkbox-wrapper
        +checkbox-button("Широкий коридор", "checkbox-fourth", "Ширина коридоров в номере не менее 91 см.")(class="checkbox-button__title checkbox-button__title_bold")
        +checkbox-button("Помощник для инвалидов", "checkbox-fifth", "На 1 этаже вас встретит специалист и проводит до номера.")(class="checkbox-button__title checkbox-button__title_bold")
    // dropdown и списки
    form.lists__form
      div.lists
        h3.lists__info #{dropdown}
        +item-quantity-dropdown("iqdropdown_third", "Взрослые", "Дети", "Младенцы")(class="iqdropdown js-iqdropdown_third")
          div(class="iqdropdown-menu-btn-wrap")
            a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear") Очистить
            a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm") Применить
        h3.lists__title Bullet list
        +bullet-list(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
  // комментарии
  div.elements__comments
    div.comments
      +comment("Комфорт", "Шумопоглащающие стены")(class="comment__img")
      +comment("Удобство", "Окно в каждой из спален")(class="comment__img_second")
    +feedback("Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
