include ../../../../../../components/buttons/rate-button/rate-button.pug

mixin filter-card-luxury(swiperId, imgSwiperClass, roomNumber, price, commentsNumber)
  div.luxury-room
    div(class!=attributes.class id=swiperId)
      div.swiper-wrapper
        div.swiper-slide
          div(class=imgSwiperClass)
        div.swiper-slide
          div(class=imgSwiperClass)
        div.swiper-slide
          div(class=imgSwiperClass)
        div.swiper-slide
          div(class=imgSwiperClass)
      div.swiper-pagination.swiper-pagination-position
      div.swiper-button-prev
      div.swiper-button-next
    div.luxury-room__wrap
      a(href="room-details.html").luxury-room__link
        h1.luxury-room__title №
          span.luxury-room__number= roomNumber
          span.luxury-room__luxury Люкс
      p.luxury-room__price= price
        span.luxury-room__time в сутки
    div.luxury-room__wrap_border
    div.luxury-room__wrapper
      +rate-button()
      p.luxury-room__comments= commentsNumber
        span.luxury-room__total-comments Отзывов   