include ../../../../../../components/buttons/rate-button/rate-button.pug

mixin filter-card-usual(swiperId, imgSwiperClass, roomNumber, price, commentsNumber)
  div.usual-room
    div(class!=attributes.class id=swiperId)
      div.swiper-wrapper
        div.swiper-slide
          div(class=imgSwiperClass)
        div.swiper-slide
          div(class=imgSwiperClass)
        div.swiper-slide
          div(class=imgSwiperClass)
        div.swiper-slide
          div(class=imgSwiperClass)
      div.swiper-pagination.swiper-pagination-position
      div.swiper-button-prev
      div.swiper-button-next
    div.usual-room__wrap
      a(href="room-details.html").usual-room__link
        h1.usual-room__title №
          span.usual-room__number= roomNumber
      p.usual-room__price= price
        span.usual-room__time в сутки
    div.usual-room__wrap_border
    div.usual-room__wrapper
      +rate-button()
      p.usual-room__comments= commentsNumber
        span.usual-room__total-comments Отзывов     