mixin header(firstItem, secondItem, thirdItem, fourthItem, fifthItem)
  nav.header__nav 
    ul.header__menu 
      li
        a(href="#" class="header__item")= firstItem
      li
        a(href="#" class="header__item")= secondItem
          div.header__dropdown
      li
        a(href="#" class="header__item")= thirdItem
      li
        a(href="#" class="header__item")= fourthItem
      li
        a(href="#" class="header__item")= fifthItem
          div.header__dropdown