- var darkShade = 'Dark Shade'
- var shadesOfBlue = '#1F2041'

div.wrapper 
  div.colors
    div.color
      div.rectangle
      h2.english-name #{darkShade} 100%
      p.hex-name #{shadesOfBlue}
    div.color
      div.rectangle
      h2.english-name #{darkShade} 75%
      p.hex-name #{shadesOfBlue}
    div.color
      div.rectangle
      h2.english-name #{darkShade} 50%
      p.hex-name #{shadesOfBlue}
    div.color
      div.rectangle
      h2.english-name #{darkShade} 25%
      p.hex-name #{shadesOfBlue}
    div.color
      div.rectangle
      h2.english-name #{darkShade} 5%
      p.hex-name #{shadesOfBlue}
    div.color
      div.rectangle
      h2.english-name Purple
      p.hex-name #BC9CFF 
    div.color
      div.rectangle
      h2.english-name Green
      p.hex-name #6FCF97
  div.titles
    div.title
      span H1
      h1.title_name This one is the subsection or widget title
    div.title
      span H2
      h2.title_name Next one is the item title inside widgets
    div.title
      span H3
      h3.title_name This is a label or CTA text
    div.title
      span body
      p.title_name This is the body text which is used for most of the design, like paragraphs, lists, etc.