// переменные
- var textField = 'TEXT FILED'
- var dropdown = 'DROPDOWN'
// поля ввода
div.elements
  form(action="#")
    div.elements__description
      h3.elements__info #{textField}
      p.elements__state DEFAULT 
    input(type="text" name="e-mail" placeholder="Email").elements__field
    div.elements__description
      h3.elements__info #{textField}
      p.elements__state HOVER/FOCUS 
    input(type="text" name="text" placeholder="This is pretty awesome").elements__field
    h3.elements__info #{dropdown}
    div(class="iqdropdown" id="iqdropdowns")
      p(class="iqdropdown-selection" data-seleсtion-text="гость" data-text-plural="гостей")
      div(class="iqdropdown-menu")
        div(class="iqdropdown-menu-option" data-id="item1")
          div
            p(class="iqdropdown-item") Взрослые
        div(class="iqdropdown-menu-option" data-id="item2")
          div
            p(class="iqdropdown-item") Дети
        div(class="iqdropdown-menu-option" data-id="item3")
          div
            p(class="iqdropdown-item") Младенцы
        div(class="iqdropdown-menu-btn-wrap")
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear" id="iqdropdown-btn-clear") Очистить
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm" id="iqdropdown-btn-confirm") Применить
    h3.elements__info MASKED #{textField}
    input(type="text" name="date" placeholder="ДД.ММ.ГГГГ" class="elements__field" data-position="right top" id="datepicker-here")
    div.date-dropdown
      div.date-dropdown_before
        h3.elements__info DATE #{dropdown}
        div.elements__field-wrap-datepicker
          input(type="text" name="date" placeholder="ДД.ММ.ГГГГ" id="datepicker").elements__field-date
      div.date-dropdown_after
        h3.elements__info DATE #{dropdown}
        div.elements__field-wrap-datepicker
          input(type="text" name="date" placeholder="19.08.2019" id="datepicker-date").elements__field-date
    h3.elements__info FILTER DATE #{dropdown}
    div.elements__field-wrap-datepicker_short
      input(type="text" name="date" placeholder="19 авг - 23 авг" id="datepicker-filter-date").elements__field-filter
    h3.elements__info SUBSCRIPTION #{textField}
    div.elements__field-wrap
      input(type="text" name="e-mail" placeholder="Email").elements__field-subscription
  // кнопки
  div.buttons
    div.checkbox-buttons
      h3.checkbox-buttons__name CHECKBOX BUTTONS
      div.checkbox-buttons__item
        input(type="checkbox" name="agreement" id="checkbox").checkbox-buttons__field
        label(for="checkbox")
        p.checkbox-buttons__option Можно курить
      div.checkbox-buttons__item
        input(type="checkbox" name="agreement" id="checkbox-second" checked).checkbox-buttons__field
        label(for="checkbox-second")
        p.checkbox-buttons__option Можно с питомцами
      div.checkbox-buttons__item
        input(type="checkbox" name="agreement" id="checkbox-third" checked).checkbox-buttons__field
        label(for="checkbox-third")
        p.checkbox-buttons__option Можно пригласить гостей (до 10 человек)
    div.radio-buttons
      h3.radio-buttons__name RADIO BUTTONS
      div.radio-buttons__wrapper
        input(type="radio" name="sex" value="Мужчина" id="sex-m" checked).radio-buttons__field
        label(for="sex-m") Мужчина
        input(type="radio" name="sex" value="Женщина" id="sex-f").radio-buttons__field
        label(for="sex-f") Женщина
    div.toggle-buttons
      h3.toggle-buttons__name TOGGLE
      div.toggle-buttons__wrapper
        div.toggle-buttons__wrap
          input(type="checkbox" name="news" value="Получать спецпредложения" id="toggle").toggle-buttons__field
          label(for="toggle" class="toggle__text") Получать спецпредложения
        div.toggle-buttons__wrap
          input(type="checkbox" name="news" value="Получать спецпредложения" id="toggle" checked).toggle-buttons__field
          label(for="toggle" class="toggle__text") Получать спецпредложения
    div.like-buttons
      h3.like-buttons__name LIKE BUTTON
      div.like-buttons__wrapper
        div.like-buttons__border
          <svg class="one" viewBox="0 0 100 100">
            <g class="heartOne">
              <path  class="heartEX" d="M 90,40 a 20 20 0 1 0 -40,-25 a 20 20 0 1 0 -40,25 l 40,50  z" />
              <path class="heart"    d="M 90,40 a 20 20 0 1 0 -40,-25 a 20 20 0 1 0 -40,25 l 40,50  z" />
            </g>
          </svg>
          div.like-buttons__counter 0
        div.like-buttons__border_second-like-button
          <svg class="two" viewBox="0 0 100 100">
            <g class="heartTwo">
              <path  class="heartEX-two" d="M 90,40 a 20 20 0 1 0 -40,-25 a 20 20 0 1 0 -40,25 l 40,50  z" />
              <path class="heart-two"    d="M 90,40 a 20 20 0 1 0 -40,-25 a 20 20 0 1 0 -40,25 l 40,50  z" />
            </g>
          </svg>
          div.like-buttons__counter_second-like-button 0
    div.rate-buttons
      h3.rate-buttons__name RATE BUTTON
      div.rate-buttons__wrapper
        div.rate-buttons__source
        <svg class="gradient">
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="grad">
            <stop offset="0%" style="stop-color:rgb(188,156,255);stop-opacity:1.00" />
            <stop offset="100%" style="stop-color:rgb(139,164,249);stop-opacity:1.00" />
          </linearGradient>
          <symbol id="star" viewBox="153 89 106 108">
            <polygon id="star-shape" stroke="url(#grad)" stroke-width="5" fill="currentColor" points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085"></polygon>
          </symbol>
        </svg>
        div.rate-buttons__wrap
          <input type="radio" name="star" id="five">
          <label for="five">
            <svg class="star">
              <use xlink:href="#star"/>
            </svg>
          </label>
          <input type="radio" name="star" id="four">
          <label for="four">
            <svg class="star">
              <use xlink:href="#star"/>
            </svg>
          </label>
          <input type="radio" name="star" id="three">
          <label for="three">
            <svg class="star">
              <use xlink:href="#star"/>
            </svg>
          </label>
          <input type="radio" name="star" id="two">
          <label for="two">
            <svg class="star">
              <use xlink:href="#star" />
            </svg>
          </label>
          <input type="radio" name="star" id="one">
          <label for="one">
            <svg class="star">
              <use xlink:href="#star" />
            </svg>
          </label>
        div.rate-buttons__source
        <svg class="gradient">
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="grads">
            <stop offset="0%" style="stop-color:rgb(188,156,255);stop-opacity:1.00" />
            <stop offset="100%" style="stop-color:rgb(139,164,249);stop-opacity:1.00" />
          </linearGradient>
          <symbol id="stars" viewBox="153 89 106 108">
            <polygon id="stars-shapes" stroke="url(#grads)" stroke-width="5" fill="currentColor" points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085"></polygon>
          </symbol>
        </svg>
        div.rate-buttons__wrap
          <input type="radio" name="stars" id="fives">
          <label for="fives">
            <svg class="star">
              <use xlink:href="#stars"/>
            </svg>
          </label>
          <input type="radio" name="stars" id="fours">
          <label for="fours">
            <svg class="star">
              <use xlink:href="#stars"/>
            </svg>
          </label>
          <input type="radio" name="stars" id="threes">
          <label for="threes">
            <svg class="star">
              <use xlink:href="#stars"/>
            </svg>
          </label>
          <input type="radio" name="stars" id="twos">
          <label for="twos">
            <svg class="star">
              <use xlink:href="#stars" />
            </svg>
          </label>
          <input type="radio" name="stars" id="ones">
          <label for="ones">
            <svg class="star">
              <use xlink:href="#stars" />
            </svg>
          </label>
  div.other-buttons
    div.range-button
      div.range-button__info
        h3.range-button__name RANGE SLIDER
        p.range-button__price
          div#slider-non-linear-step-value
      div#slider
      //- div.range-button__slider
    // кнопки + пагинация
    div.buttons
      h3.buttons__name BUTTONS
      div.ellipse-buttons
        button(type="submit" class="ellipse-buttons__button ellipse-buttons_solid") Click me
        button(type="submit" class="ellipse-buttons__button ellipse-buttons_solid") Click me
        button(type="submit" class="ellipse-buttons__button ellipse-buttons_transparent") Click me
        button(type="submit" class="ellipse-buttons__button ellipse-buttons_transparent") Click me
      div.link-buttons
        button(type="submit" class="link-buttons__button") Click me
        button(type="submit" class="link-buttons__button") Click me
      button(type="submit" class="button-payment") Перейти к оплате
    div.pagination
      h3.pagination__name PAGINATION
      div#data-container
      div#pagination-container
// фильтры по поиску номеров
div.elements__filter    
  div.filter
    div.filter__description
      h3.filter__info #{dropdown}
      p.filter__state DEFAULT
    div(class="iqdropdown" id="iqdropdown-sixth")
      p(class="iqdropdown-selection" data-seleсtion-text="гость" data-text-plural="гостей")
      div(class="iqdropdown-menu")
        div(class="iqdropdown-menu-option" data-id="item1")
          div
            p(class="iqdropdown-item") Спальни
        div(class="iqdropdown-menu-option" data-id="item2")
          div
            p(class="iqdropdown-item") Кровати
        div(class="iqdropdown-menu-option" data-id="item3")
          div
            p(class="iqdropdown-item") Ванные комнаты
    div.filter__description
      h3.filter__info #{dropdown}
      p.filter__state EXPANDED
    div(class="iqdropdown" id="iqdropdown-seventh")
      p(class="iqdropdown-selection" data-seleсtion-text="гость" data-text-plural="гостей")
      div(class="iqdropdown-menu")
        div(class="iqdropdown-menu-option" data-id="item1")
          div
            p(class="iqdropdown-item") Спальни
        div(class="iqdropdown-menu-option" data-id="item2")
          div
            p(class="iqdropdown-item") Кровати
        div(class="iqdropdown-menu-option" data-id="item3")
          div
            p(class="iqdropdown-item") Ванные комнаты
    div.filter__checkbox_expanded
      div.filter__checkbox-list Expandable checkbox list
        i.filter__checkbox-list-arrow_first
        div.filter__checkbox
          input(type="checkbox" name="agreement" id="filter").checkbox-buttons__field
          label(for="filter")
          p.filter__field-option Завтрак
        div(class="filter__checkbox filter__checkbox_second")
          input(type="checkbox" name="agreement" id="filter_second" checked).checkbox-buttons__field
          label(for="filter_second")
          p.filter__field-option Письменный стол
        div(class="filter__checkbox filter__checkbox_third")
          input(type="checkbox" name="agreement" id="filter_third" checked).checkbox-buttons__field
          label(for="filter_third")
          p.filter__field-option Стул для кормления
        div(class="filter__checkbox filter__checkbox_fourth")
          input(type="checkbox" name="agreement" id="filter_fourth" checked).checkbox-buttons__field
          label(for="filter_fourth")
          p.filter__field-option Кроватка
        div(class="filter__checkbox filter__checkbox_fifth")
          input(type="checkbox" name="agreement" id="filter_fifth").checkbox-buttons__field
          label(for="filter_fifth")
          p.filter__field-option Телевизор
        div(class="filter__checkbox filter__checkbox_sixth")
          input(type="checkbox" name="agreement" id="filter_sixth").checkbox-buttons__field
          label(for="filter_sixth")
          p.filter__field-option Шампнуь
  // dropdown с гостями
  div.guests
    h3.guests__info #{dropdown}
    div(class="iqdropdown" id="iqdropdown-second")
      p(class="iqdropdown-selection" data-seleсtion-text="гость" data-text-plural="гостей")
      div(class="iqdropdown-menu")
        div(class="iqdropdown-menu-option" data-id="item1")
          div
            p(class="iqdropdown-item") Взрослые
        div(class="iqdropdown-menu-option" data-id="item2")
          div
            p(class="iqdropdown-item") Дети
        div(class="iqdropdown-menu-option" data-id="item3")
          div
            p(class="iqdropdown-item") Младенцы
        div(class="iqdropdown-menu-btn-wrap")
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear" id="iqdropdown-btn-clear") Очистить
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm" id="iqdropdown-btn-confirm") Применить
    h3.guests__title Rich Checkbox Buttons
    div.guests__checkbox-wrapper
      div.checkbox-buttons__item
        input(type="checkbox" name="agreement" id="guests").checkbox-buttons__field
        label(for="guests")
        div.guests__checkbox-wrap
          p.guests__option-title Широкий коридор
          p.guests__option-text Ширина коридоров в номере не менее 91 см.
      div.checkbox-buttons__item
        input(type="checkbox" name="agreement" id="guests__second").checkbox-buttons__field
        label(for="guests__second")
        div.guests__checkbox-wrap
          p.guests__option-title Помощник для инвалидов
          p.guests__option-text На 1 этаже вас встретит специалист  и проводит до номера.
  // dropdown и списки
  div.lists
    h3.lists__info #{dropdown}
    div(class="iqdropdown" id="iqdropdown-third")
      p(class="iqdropdown-selection" data-seleсtion-text="гость" data-text-plural="гостей")
      div(class="iqdropdown-menu")
        div(class="iqdropdown-menu-option" data-id="item1")
          div
            p(class="iqdropdown-item") Взрослые
        div(class="iqdropdown-menu-option" data-id="item2")
          div
            p(class="iqdropdown-item") Дети
        div(class="iqdropdown-menu-option" data-id="item3")
          div
            p(class="iqdropdown-item") Младенцы
        div(class="iqdropdown-menu-btn-wrap")
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-clear" id="iqdropdown-btn-clear") Очистить
          a(href="javascript:void(0);" class="iqdropdown-btn iqdropdown-btn-confirm" id="iqdropdown-btn-confirm") Применить
    h3.lists__bullet-title Bullet list
    ul.lists__bullet
      li.lists__bullet-item Нельзя с питомцами
      li.lists__bullet-item Без вечеринок и мероприятий
      li.lists__bullet-item Время прибытия — после 13:00, а выезд до 12:00
// комментарии
div.elements__comments
  div.comments
    div.comment
      div.comment__img
      div.comment__wrap
        h3.comment__title Комфорт
        p.comment__description Шумопоглащающие стены
    div.comment
      div.comment__img_second
      div.comment__wrap
        h3.comment__title Удобство
        p.comment__description Окно в каждой из спален
  div.feedback
    div.feedback__info
      div.feedback__img
      div.feedback__wrap
        p.feedback__username Мурад Сарафанов
        p.feedback__time 5 дней назад
    div.feedback__wrap
      input(type="text" name="like" id="like" placeholder="12" value=12).feedback__field
      p.feedback__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.