// headers
div.headers
  div.header
    div.header__logo
    div.header__wrapper
      mixin header(firstItem, secondItem, thirdItem, fourthItem, fifthItem)
        nav.header__nav 
          ul.header__menu 
            li
              a(href="#" class="header__item")= firstItem
            li
              a(href="#" class="header__item")= secondItem
            li
              a(href="#" class="header__item")= thirdItem
            li
              a(href="#" class="header__item")= fourthItem
            li
              a(href="#" class="header__item")= fifthItem
      +header("О нас", "Услуги", "Вакансии", "Новости", "Соглашения")
      div.header__buttons
        button(type="submit" class="header__button button__sign-in") Войти
        button(type="submit" class="header__button button__sign-up") Зарегистрироваться
  div.header
    div.header__logo
    div.header__wrapper
      +header("О нас", "Услуги", "Вакансии", "Новости", "Соглашения")
      p.header__username Юлий Цезарь
// footers
div.footers
  div.footer
    div.footer__nav
      div.footer__wrap
        div.footer__logo
        p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      mixin footerList(title, firstItem, secondItem, thirdItem, fourthItem)
        ul(class="footer__wrap footer__navigation") 
          h3.footer__title= title
          li 
            a(href="#" class="footer__item")= firstItem
          li 
            a(href="#" class="footer__item")= secondItem
          li 
            a(href="#" class="footer__item")= thirdItem
          li 
            a(href="#" class="footer__item")= fourthItem
      +footerList("Навигация", "О нас", "Новости", "Служба поддержки", "Услуги")
      +footerList("О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы")
      +footerList("Служба поддержки", "Соглашения", "Сообщества", "Связь с нами")
      div.footer__wrap
        h3.footer__title Подписка
        p.footer__text Получайте специальные предложения и новости сервиса
        div.footer__input-wrap
          input(type="text" name="email" placeholder="Email" class="footer__input")
    div.footer__copyright
      p.footer__copy Copyright © 2018 Toxin отель. Все права защищены.
      div.footer__wrapper
        // fontawesome
        mixin fontawesome()
          a(href="https://www.twitter.com")
            i(class="fab fa-twitter")
          a(href="https://www.facebook.com")
            i(class="fab fa-facebook-square")
          a(href="https://www.instagram.com")
            i(class="fab fa-instagram")
        +fontawesome()
  div(class="footer footer_center")
    div(class="footer__logo footer__logo_center")
    p(class="footer__text footer__text_center") Copyright © 2018 Toxin отель. Все права защищены.
    // fontawesome
    +fontawesome()