mixin footer-list(title, firstItem, secondItem, thirdItem, fourthItem)
  ul(class="footer__wrap footer__navigation") 
    h3.footer-list__title= title
    li 
      a(href="/mock-address/change-me" class="footer-list__item")= firstItem
    li 
      a(href="/mock-address/change-me" class="footer-list__item")= secondItem
    li 
      a(href="/mock-address/change-me" class="footer-list__item")= thirdItem
    li 
      a(href="/mock-address/change-me" class="footer-list__item")= fourthItem