mixin footer-list(title, firstItem, secondItem, thirdItem, fourthItem)
  ul(class="footer__wrap footer__navigation") 
    h3.footer__title= title
    li 
      a(href="/mock-address/change-me" class="footer__item")= firstItem
    li 
      a(href="/mock-address/change-me" class="footer__item")= secondItem
    li 
      a(href="/mock-address/change-me" class="footer__item")= thirdItem
    li 
      a(href="/mock-address/change-me" class="footer__item")= fourthItem