mixin header-list(firstItem, secondItem, thirdItem, fourthItem, fifthItem)
  nav.header-list 
    ul.header-list__menu 
      li.header-list__item
        a(href="/mock-address/change-me" class="header-list__link")= firstItem
      li.header-list__item
        a(href="/mock-address/change-me" class="header-list__link")= secondItem
          div.header-list__dropdown
      li.header-list__item
        a(href="/mock-address/change-me" class="header-list__link")= thirdItem
      li.header-list__item
        a(href="/mock-address/change-me" class="header-list__link")= fourthItem
      li.header-list__item
        a(href="/mock-address/change-me" class="header-list__link")= fifthItem
          div.header-list__dropdown