mixin swiper(id, imgClass)
  div(class!=attributes.class id=id)
    div.swiper-wrapper
      div.swiper-slide
        div(class=imgClass)
      div.swiper-slide
        div(class=imgClass)
      div.swiper-slide
        div(class=imgClass)
      div.swiper-slide
        div(class=imgClass)
    div.swiper-pagination.swiper-pagination-position
    div.swiper-button-prev
    div.swiper-button-next